<form [formGroup]="formGroup" #template="ngForm" (ngSubmit)="saveForm()">
   
<div #templateRow id="row" class="row" formGroupName="row">
  <h4 class="col-md-7 ml-4">Element {{row}}</h4><br>
  <div class="elementRow">
  <label  class="col-md-3 ml-4 " >Element label</label> 
  <input type="text" class="col-md-5 " formControlName="text" placeholder="{{'Element '+row+' label'}}"><br>
</div>
<div class="elementRow">
  <label  class="col-md-3 ml-4 "> Element input type</label>
   <select id="type" #type name="type" formControlName="type" (change)="change(type);" class="col-md-5 " value='text'><br>
    <option name='text'>Text box</option>
    <option name='check'>Check box</option>
    <option name='radio'>Radio button</option>
  </select><br>
</div>
<div id="qRow" class="elementRow">
  <label  class="col-md-3 ml-4">Element count for check and radio</label>
  <select #quantity id="quantity" (change)='addField(quantity)' formControlName="quantity" class="col-md-4  ">
   
  </select><br>
</div>
<div class="elementRow">
  <label  class="col-md-3 ml-4" >Input restrictions</label>
  <select formControlName="restriction" class="col-md-4 " name="type" value='none'>
    <option name='none'>None</option>
    <option name='required'>Mandatory</option>
    <option name='numeric'>Numeric</option>
  </select>
</div>
</div>

  <input type="button" class="col-md-2 ml-4 btn btn-primary" (click)="saveRow()" value="Save row">
  <button class="col-md-2 float-right btn btn-secondary mr-3 ml-4">Save template</button>
</form>