<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/" class="link"><div class="navbar-brand tab">News App <span class="glyphicon glyphicon-home "> </span></div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active  tab">
            <a href="/" class="link"><div id="home" class="col-md-4" >Najnovije </div></a>
          </li>
          <li class="nav-item tab">
              <a class="link" [routerLink]="['../sport']" ><div id="sport" class="col-md-3" >Sport</div></a>
          </li>
          <li class="nav-item tab ">
           <a class="link" [routerLink]="['../fun']" > <div id="fun" class="col-md-2">Zabava</div></a>
          </li>
          <li class="nav-item tab ">
           <a class="link" [routerLink]="['../lifestyle']" > <div id="life" class="col-md-2">Lifestyle</div></a>
          </li>
          
        </ul>
        <a class="link tab " href="/signup"> <div id="register" class="col-md-3">Register<span class="glyphicon glyphicon-user user"> </span> </div></a>
        <a class="link tab " href="/login"> <div id="login" class="col-md-3">Login<span class="glyphicon glyphicon-log-in user"> </span> </div></a>
      </div>
</nav>

<div  class="container">
<div *ngFor="let news of news">
  <div>{{news.title}}</div>
</div>



</div>