@import url('https://fonts.googleapis.com/css?family=Roboto');
li button{
    overflow: hidden;
    border:0px;
    background-color:Transparent;
    outline: none;
    color: black;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    outline: none;
}
li button:hover{
    color:brown;
}
.links{
    text-decoration:none;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    color: black;
}
.links:hover{
    color:brown;
}
.block{
    display: block;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    margin-left: 5%;
    margin-top: 20px;
  
}
.sendRight{
    float: right;
    width:60%;
    margin-right: 15%;
}
