<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-brand tab">Navbar</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active ">
                <div id="Administrator" class="col-md-2" (click)="openTab($event,'Administrator')">Administrator</div>
            </li>
            <li class="nav-item ">
                <div id="Formular" class="col-md-2" (click)="openTab($event,'Formular');">Formular</div>
            </li>
            <li class="nav-item ">
              <div>Pricing</div>
            </li>
            <li class="nav-item ">
              <div>Disabled</div>
            </li>
          </ul>
        </div>

</nav>

<div #mainQueue id="mainQueue" class="container">
  
  
  

</div>